body.dark {

  background:#333;
  color:#FFF;

  a { color:#7c7cff !important; }

  hr { border-top-color:#111; }

  rect {
    &[fill="#ffffff"]{ fill:#111; }

    &[fill="#e6e6e6"]{ fill:#222; }
  }

  path {
    &[stroke="#b7b7b7"]{ stroke:#000; }

    &[stroke="#ffffff"]{ stroke:#111; }

    &[stroke="#e6e6e6"]{ stroke:#222; }
  }

  text {
    &[fill="#4d4d4d"]{ fill:#AAA; }

    &[fill="#202020"]{ fill:#FFF; }
    
    &[fill="#000000"]{ fill:#FFF; }
  }
}